<div class="container-fluid">
	<div class="row">
  		<div class="col-md-6 col-md-offset-4">
			Play the game.
			 <script type="text/javascript">
			 var points = location.search.split('points=')[1]
			 console.log(points);
			 if (points == 1){
			 	document.write("You got 1/5 correct!");
			 }
			 else{
			 	document.write("You got more than 1 correct!");

			 	console.log("poop");
			 }

			 </script>
			 poop on a stick. 
		</div>
	</div>
</div>