<div class="container-fluid">
	<div class="row">
  		<div class="col-md-6 col-sm-offset-4">
			<h1>Hello, world!</h1>
			<blockquote>
  				<p>This game is just so awesome! I'm going to play it forever.</p>
  				<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			</blockquote>

			<h3>Instructions</h3> 
			01. Put 
			02. profit.
			<a href='/movies/new'>
			<button type="button" class="btn btn-default" aria-label="Left Align">
 			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
				Ok, I'm curious.
			</button></a>

		</div>
	</div>
</div>