<div class= "container">
	<div class = "row-centered">
		<h1>Paw-parazzi</h1>
	</div>
	<div class = "row">
		<div class= "col-md-12">
			<img src ="http://pre14.deviantart.net/d844/th/pre/f/2012/123/a/2/cat_as_photographer_by_microkey-d4ydm7b.jpg" class="img-rounded">
		</div>
	</div>
	<div class= "row">
		<div class= "col-md-12">
			<p> Pierre Fox Daguerre the IV is a world famous paw-parazzi. But he has been procrastinating on research for his upcoming assignment! Help Pierre by matching actors' photographs with their names so he knows who to look for and photograph! </p>
		</div>
	</div>

	<div class = "row">
		<div class= "col-md-12">
		<%= render 'form' %>
		<font size='2'> * note: it may take a second for the game to load after you submit a movie. Play with some yarn and wait. </font>
		</div>
	</div>
 </div>
